
.heading__arrows {
	width: 100%;
	padding: 0 10rem 2rem;
	display: flex;
	justify-content: space-between;
}

.heading__arrows button{
	font-size: 3rem;
	filter: blur(0rem);
	-webkit-filter: blur(0rem);
	text-transform: uppercase;
}