.container__years {
	margin: 2rem 10rem;
}

.navbar__years {
	top: 2rem;
}

.years__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3rem;
    font-family: var(--heading-font);
    letter-spacing: -0.15rem;
    line-height: 1;
    text-transform: uppercase;
}
