.wipey-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: opacity 0.7s ease; /* Transição de opacidade */
}

.wipey-canvas.transitioning {
  opacity: 0;
}
